[[extend 'layout.html']]

<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin: 20px auto 20px auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
  a.button {
      margin-left: 10px;
  }
</style>

<div class="auth-container">
  <h1 class="title text-center">Add a Listing</h1>
  [[=form]]
  <label for="Monday">Monday</label>
  <input type="text" id="Monday" name="Open"><br>
  <input type="checkbox" id="Monday" name="Closed"><br>
<!--  <label for="Tuesday">Tuesday</label>-->
<!--  <input type="text" id="Tuesday" name="Tuesday"><br><br>-->
<!--  <label for="Wednesday">Wednesday</label>-->
<!--  <input type="text" id="Wednesday" name="Wednesday"><br><br>-->
<!--  <label for="Thursday">Thursday</label>-->
<!--  <input type="text" id="Thursday" name="Thursday"><br><br>-->
<!--  <label for="Friday">Friday</label>-->
<!--  <input type="text" id="Friday" name="Friday"><br><br>-->
<!--  <label for="Saturday">Saturday</label>-->
<!--  <input type="text" id="Saturday" name="Saturday"><br><br>-->
<!--  <label for="Sunday">Sunday</label>-->
<!--  <input type="text" id="Sunday" name="Sunday"><br><br>-->
</div>