[[extend 'layout.html']]

<div class="auth-container">
    <h1 class="title text-center">[[=action_name]] a Listing</h1>
    <div id="ft-form">
        [[=form.custom.begin ]]
        [[for key in form.custom.wrappers: ]]
        [[ if not (key.startswith('hours_') or key == 'lat' or key == 'lng'): ]]
        <div class="form-group">
            <label class="h4" for="no_table_[[=key ]]">[[=form.custom.labels[key] ]]</label>
            [[=form.custom.wrappers[key] ]]
            [[ if key in form.custom.errors: ]]
            <p class="form-text text-danger py4web-validation-error">[[=form.custom.errors[key] ]]</p>
            [[pass]]
        </div>
        [[pass]]
        [[pass]]
        <h4>Hours</h4>

        [[for dotw, dotw_title in {'mon': 'Monday', 'tue': 'Tuesday', 'wed': 'Wednesday', 'thu': 'Thursday', 'fri': 'Friday', 'sat': 'Saturday', 'sun': 'Sunday'}.items(): ]]
        <h6>[[=dotw_title]]</h6>
        <div class="form-row row mb-3">
            <div class="form-group col-md-6">
                <label for="no_table_hours_[[=dotw]]_open">Open</label>
                [[=form.custom.widgets['hours_' + dotw + '_open']]]
            </div>
            <div class="form-group col-md-6">
                <label for="no_table_hours_[[=dotw]]_close">Close</label>
                [[=form.custom.widgets['hours_' + dotw + '_close']]]
            </div>
        </div>
        [[pass]]

        [[=form.custom.widgets['lat'] ]]
        [[=form.custom.widgets['lng'] ]]

        [[=form.custom.submit ]]
        [[=form.custom.end ]]
    </div>
</div>

<script>
    const addressInput = document.getElementById('no_table_address');

    let geocoder;
    function initSearch() {
        const defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(36.968, -122.057));
        new google.maps.places.SearchBox(addressInput, {
            bounds: defaultBounds
        });
        geocoder = new google.maps.Geocoder();
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Change input types
        for (let dotw of ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']) {
            const open_input = document.getElementById('no_table_hours_' + dotw + '_open');
            const close_input = document.getElementById('no_table_hours_' + dotw + '_close');

            open_input.type = 'time';
            close_input.type = 'time';
        }

        // Hide lat/lng fields
        document.getElementById('no_table_lat').style.display = 'none';
        document.getElementById('no_table_lng').style.display = 'none';
    });

    const ftForm = document.forms[0];
    ftForm.addEventListener('submit', function (event) {
        event.preventDefault();
        geocoder.geocode({'address': addressInput.value}, function (results, status) {
            if (status === 'OK') {
                const latField = document.getElementById('no_table_lat');
                latField.value = results[0].geometry.location.lat();

                const lngField = document.getElementById('no_table_lng');
                lngField.value = results[0].geometry.location.lng();
                ftForm.submit();
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    })
</script>