[[extend 'layout.html']]

[[extend 'map.html']]

[[block page_scripts]]
<script>
    let load_trucks_url = "[[=XML(load_trucks_url)]]";
    let load_reviews_url = "[[=XML(load_reviews_url)]]";
    let add_review_url = "[[=XML(add_review_url)]]";
    let delete_review_url = "[[=XML(delete_review_url)]]";
    let search_url = "[[=XML(search_url)]]";
    let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
</script>
<script
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArwSA0QWBxt4K01jIhJ9j5xTKXh2O4W3k&callback=initGoogle&v=weekly&libraries=places"
></script>
<script src="js/index.js"></script>
[[end]]
