[[extend 'layout.html']]

<style>
  .table-container {
    max-width: 80%;
    min-width: 400px;
    margin: 20px auto 20px auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
  a.button {
      margin-left: 10px;
  }
</style>

<section class="section">
  <div class="table-container">
  <h1 class="title text-center">Manage Your Listings</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Food Truck Name</th>
          <th>Address</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
      [[for truck in trucks:]]
        <tr>
          <td>[[=truck.name]]</td>
          <td>[[=truck.address]]</td>
           <!-- Edit button -->
          <td>
            <a class="btn btn-primary" href="[[=URL('edit-listing', truck.id, signer=url_signer)]]">
              <span>Edit</span>
            </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#truck-del-[[=truck.id]]">
              Delete
            </button>
          </td>
        </tr>

      <!-- Modal -->
  <div class="modal fade" id="truck-del-[[=truck.id]]" tabindex="-1" aria-labelledby="truck-del-[[=truck.id]]" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="[[=URL('delete-listing', truck.id, signer=url_signer)]]">
            <span>Delete</span>
          </a>
        </div>
      </div>
    </div>
  </div>
      [[pass]]
      </tbody>
    </table>

    <!-- Add Listing Button -->
    <a class="btn btn-outline-info" href="[[=URL('add-listing', signer=url_signer)]]">
      <span>Add Listing</span>
    </a>

  </div>

</section>