[[extend 'layout.html']]

<h1 class="text-center pt-3">[[=truck.name]]</h1>
    <ul style="display: flex; list-style: none; padding: 0px; justify-content: center;">
        <li><h6 class="text-muted">[[=truck.cuisine_type]]</h6></li>
        [[if truck.dietary_options != 'None':]]
            <li><h6 class="text-muted">, <em>[[=truck.dietary_options]] options</em></h6></li>
        [[pass]]
    </ul>

<div class="auth-container" style="border: none; padding: 0px">
    <!-- Truck Info -->
    <ul style=" display: flex; list-style: none; padding: 0px; ">
        <li>
            [[if truck.thumbnail != '':]]
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#expandThumbnail"><img class="img-fluid rounded mr-3"
                    style="width:150px; height: 150px; margin-right: 25px; object-fit: cover; overflow: hidden;"
                    src="[[=truck.thumbnail]]"/></a>
            [[else:]]
                <img class="img-fluid rounded mr-3"
                    style="width:150px; height: 150px; margin-right: 25px; object-fit: cover; overflow: hidden;"
                    src="../static/img/ftf_logo_transparent.png"/>
            [[pass]]
        </li>
        <li>
            <h2>Truck Info</h2>
            <h6 class="text-muted"><strong>Address:</strong> [[=truck.address]]</h6>
            <h6 class="text-muted"><strong>Website:</strong> [[=truck.website]]</h6>
            <h6 class="text-muted"><strong>Email:</strong> [[=truck.email]]</h6>
            <h6 class="text-muted"><strong>Phone Number:</strong> [[=truck.phone_number]]</h6>
        </li>
    </ul>
</div>

<div class="auth-container">
    <!-- View Photos -->
    <h2>Photos</h2>
    [[if len(reviews) == 0:]]
        <p class="text-muted">No photos yet.</p>
    [[pass]]

    [[for review in reviews:]]
        [[if review.encoded_image != '':]]
            <img class="img-fluid rounded" data-bs-toggle="modal" data-bs-target="#expandImage[[=review. id]]"
                style="width:100px; height: 100px; margin: 5px 3px 5px 3px; object-fit: cover; overflow: hidden;"
                src="[[=review.encoded_image]]"/>

                <!-- Modal to expand image from Photos -->
                <div class="modal fade" id="expandImage[[=review.id]]" tabindex="-1" role="dialog" aria-labelledby="expandImage[[=review.id]]" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">[[=truck.name]]</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <a href="javascript:;"><img class="img-fluid rounded mr-3"
                        style="width: 100%;"
                        src="[[=review.encoded_image]]"/></a>
                    </div>
                  </div>
                </div>
        [[pass]]
    [[pass]]
</div>

<div class="auth-container">
    <!-- View Reviews -->
    <h2>Reviews</h2>

    [[if len(reviews) == 0:]]
        <p class="text-muted">No reviews yet.</p>
    [[pass]]

    [[for review in reviews:]]
        <div class="auth-container" style="max-width: 100%;">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <ul style="display: flex; list-style: none; padding: 0px;">
                    [[for i in range(review.stars):]]
                        <li><i class="fas fa-star"></i></li>
                    [[pass]]
                    </ul>
                    [[=review.text]]
                    <p class="text-muted">- [[=review.name]]</p>
                </div>
                <div>
                    [[if review.encoded_image != '':]]
                        <img class="img-fluid rounded" data-bs-toggle="modal" data-bs-target="#expandReview[[=review.id]]"
                            style="width:100px; height: 100px; margin: 5px 3px 5px 3px; object-fit: cover; overflow: hidden;"
                            src="[[=review.encoded_image]]"/>
                    [[pass]]
                </div>
            </div>
        </div>

        <!-- Modal to expand image from review -->
        <div class="modal fade" id="expandReview[[=review.id]]" tabindex="-1" role="dialog" aria-labelledby="expandReview[[=review.id]]" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">[[=truck.name]]</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <a href="javascript:;"><img class="img-fluid rounded mr-3"
                style="width: 100%;"
                src="[[=review.encoded_image]]"/></a>
            </div>
          </div>
        </div>
    [[pass]]
</div>

<!-- Modal to expand truck thumbnail -->
<div class="modal fade" id="expandThumbnail" tabindex="-1" role="dialog" aria-labelledby="expandThumbnail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">[[=truck.name]]</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <a href="javascript:;"><img class="img-fluid rounded mr-3"
        style="width: 100%;"
        src="[[=truck.thumbnail]]"/></a>
    </div>
  </div>
</div>