[[extend 'layout.html']]

<div class="auth-container">
    <!-- View Photos -->
    <h2>My Photos</h2>
    [[for review in reviews:]]
        [[if review.encoded_image != '':]]
            <img class="img-fluid rounded"
                style="width:100px; height: 100px; margin: 5px 3px 5px 3px; object-fit: cover; overflow: hidden;"
                src="review.encoded_image"/>
        [[pass]]
    [[pass]]
</div>

<div class="auth-container">
    <!-- View Reviews -->
    <h2>My Reviews</h2>

    <!-- Separate review groupings by truck id-->
    [[for truck in trucks:]]
        <!-- All reviews made for a truck-->
        <div class="auth-container" style="max-width: 100%;">
            <h4>[[=truck.name]] </h4>
            <p class="text-muted">[[=truck.address]]</p>
            [[for review in reviews:]]
                    [[if truck.id == review.food_truck_id:]]
                        <div class="auth-container" style="max-width: 100%;">
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <ul style="display: flex; list-style: none; padding: 0px;">
                                    [[for i in range(review.stars):]]
                                        <li><i class="fas fa-star"></i></li>
                                    [[pass]]
                                    </ul>
                                    [[=review.text]]
                                    <p class="text-muted">- [[=review.name]]</p>
                                </div>
                                <div>
                                    [[if review.encoded_image != '':]]
                                        <img class="img-fluid rounded"
                                            style="width:100px; height: 100px; margin: 5px 3px 5px 3px; object-fit: cover; overflow: hidden;"
                                            src="review.encoded_image"/>
                                    [[pass]]
                                </div>
                            </div>
                        </div>
                    [[pass]]
            [[pass]]
        </div>
    [[pass]]
</div>